    <!-- ------------------------------- -->
    <!--        AGREGAR PRODUCTO         -->
    <!-- ------------------------------- -->

<div class="contenedor-nuevoProducto">

  <h2>Registro <span>Producto</span></h2>
  <form id="form-registro-producto" [formGroup]="formularioProducto" (ngSubmit)="registrarProducto()">
    <div class="contenido">
        <div class="contenido-formulario">
            <p>
              <label>Categoria</label>
              <input class="opcionForm" type="text" formControlName="categoria">
            </p>
            <p>
              <label>Titulo</label>
              <input class="opcionForm" type="text" formControlName="titulo">
            </p>
            <p>
              <label>Unidades Disponibles</label>
              <input class="opcionForm" type="number" min="1" formControlName="stock">
            </p>
            <p>
              <label>Precio Venta</label>
              <input class="opcionForm" type="number" min="0" formControlName="precio">
              
            </p>
            <p class="espacioTotal">    
              <label>Descripcion</label>
              <textarea class="opcionForm" rows="3" formControlName="descripcion"></textarea>
            </p>
        </div>
        <div class="contenedor-imagen">
            <h3>Añadir Imagen</h3>
            <div class="contenido-img">
              <mat-icon class="icono-img-prod">image</mat-icon>
                <input (change)="imgRecibida($event)" type="file" id="archivo-producto" formControlName="imagen">
                <div *ngIf="visualizarImagenIngresada">
                  <img [src]="visualizarImagenIngresada" alt="Imagen seleccionada">
                </div>
            </div>
          </div>
      <div class="contenedor-boton">
        <input type="submit" value="Agregar Produducto" id="registroProductoBotton">
      </div>
    </div>
  </form>
</div>
<br><br>
<hr>
<br>
<h2 class="titulo-productos-agregados"><span>Productos</span> Agregados</h2>
<div class="contenedor-articulos-registrados">
  <div class="productos-registrados" *ngFor=" let producto of productos"> 
    <img [src]="producto.imagen" alt="{{producto.titulo}}">
    <div class="contendo-producto-registrado"> 
      <h1 class="titulo">{{producto.titulo}} <br> {{producto.categoria}}</h1>
      <p class="descripcion">{{producto.descripcion}}</p>
      <p class="precio-cantidad"> Precio ${{producto.precio}} <br> Stock {{producto.stock}}</p>
    </div>
    
  </div>
</div>
<br><br>

