<div class="pagContacto">
    <h1>
        Tus Palabras Son Valiosas Y Nos Ayudarán A Mejorar Y Crecer
    </h1>
    <div class="contenido">
        <div>
            <img src="../../../assets/imagenes/contacto.png" alt="Contacto">
        </div>
        <div class="texto">
            <h2>Escríbenos</h2>
            <p>
                Si tienes preguntas, comentarios o simplemente quieres compartir tu opinión, no dudes en contactar.
                Tus palabras son valiosas y nos Ayudarán a mejorar y crecer.
            </p>
            <p>
                ¿Alguna inquietud sobre nuestros productos?<br>
                ¿Tienes una experiencia especial que deseas contar?<br>
                ¿Quieres sabver más sobre nuestra historia y valores?<br>
            </p>
            <p>
                Sea cual sea la razón, estamos aquí para responder.
            </p>
        </div>
    </div>
</div>

<div class="contenidoForm">
    <h1>Espacio para Form SIN TERMINAR</h1>
    
</div>