<div *ngIf="carritoService.carrito.length > 0">
    <h1>
        <mat-icon>card_travel</mat-icon> BOLSA DE COMPRAS
        <p><span>Total:</span> ${{ totalPagar }}</p>
        <p>Hay <span>{{ totalProductosEnCarrito }}</span> productos en el carrito.</p>
      </h1>
    <ul>
      <li *ngFor="let productoCarrito of carritoService.carrito">
        <div>
          <img [src]="productoCarrito.producto.imagen" alt="{{ productoCarrito.producto.titulo }}" width="200">
          <h3>{{ productoCarrito.producto.titulo }}</h3>
          <div class="contador">
            <button (click)="disminuirCantidad(productoCarrito)">-</button>
            <input type="number" readonly [(ngModel)]="productoCarrito.cantidad" min="1">
            <button (click)="aumentarCantidad(productoCarrito)">+</button>
          </div>
          <p>Precio unitario: $ {{ productoCarrito.producto.precio }}</p>
          <p>Precio total: $ {{ productoCarrito.producto.precio * productoCarrito.cantidad }}</p>
          <button *ngIf="productoCarrito.producto.id" (click)="eliminarDelCarrito(productoCarrito.producto.id)">Eliminar</button>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="carritoService.carrito.length === 0">
    <p>No hay productos en el carrito.</p>
  </div>