 
  <div class="infoProducto">
    <h1 class="titulo">
      <mat-icon>card_travel</mat-icon> BOLSA DE COMPRAS
    </h1>
    <div class="contenido-infoproducto">
      <span class="left" *ngIf="totalProductosEnCarrito > 0">
        <p>Hay <span>{{ totalProductosEnCarrito }}</span> productos en el carrito.</p>
      </span>
      <span class="right" *ngIf="carritoService.carrito.length > 0">
        <p><span>Total:</span> ${{ totalPagar }}</p>
      </span>
    </div>
  </div>
  <div class="carrito">
    <div class="contenidoCarrito" *ngIf="carritoService.carrito.length > 0">
      <table>
          <thead>
              <tr>
                  <th>Titulo</th>
                  <th>Imagen</th>
                  <th>Cantidad</th>
                  <th>Precio Unitario</th>
                  <th>Precio Total</th>
              </tr>
          </thead>
          <tbody *ngFor="let productoCarrito of carritoService.carrito">
              <tr>
                  <td>
                    {{ productoCarrito.producto.titulo }}
                  </td>
                  <td>
                    <img [src]="productoCarrito.producto.imagen" alt="{{ productoCarrito.producto.titulo }}">
                  </td>
                  <td>
                    <div class="contador">
                      <button (click)="disminuirCantidad(productoCarrito)">-</button>
                      <input type="number" readonly [(ngModel)]="productoCarrito.cantidad" min="1">
                      <button (click)="aumentarCantidad(productoCarrito)">+</button>
                    </div>
                  </td>
                  <td>
                    {{ productoCarrito.producto.precio }}
                  </td>
                  <td>
                    {{ productoCarrito.producto.precio * productoCarrito.cantidad }}
                  </td>
                  <td>
                    <mat-icon class="botonEliminar" *ngIf="productoCarrito.producto.id" (click)="eliminarDelCarrito(productoCarrito.producto.id)">delete_forever</mat-icon>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  <div class="sinProductos" *ngIf="carritoService.carrito.length === 0">
    <p><span>No hay productos</span> en el carrito.</p>
    <br><br>
    <a [routerLink]="['/producto']">Seguir Comprando</a>
  </div>
</div>
<div class="infoProducto" *ngIf="carritoService.carrito.length > 0">
  <div class="contenido-infoproducto">
    <span class="left" *ngIf="totalProductosEnCarrito > 0">
      <p>Hay <span>{{ totalProductosEnCarrito }}</span> productos en el carrito.</p>
    </span>
    <span class="right">
      <p><span>Total:</span> ${{ totalPagar }}</p>
    </span>
  </div>
</div>
<br><br>