<div class="contenido-general">
    <h1>Política de privacidad</h1>
    <div class="contenido">
        <h2>REGISTRO</h2>
        <p>
            Si bien, el registro en este sitio no es requisito obligatorio para contratar, 
            se recomienda realizarlo para facilitar el acceso personalizado, confidencial 
            y seguro a la página. Adicionalmente, los usuarios registrados serán considerados
            cliente esclusivos, por lo tanto recibiran otros beneficios y obsequios no incluidos
            en promociones generales.
        </p>
        <p>
            Al registrarse en AIKO AUDIOVISUAL , el usuario deberá llenar el formulario 
            con sus datos de forma veraz y actualizada y deberá indicar una contraseña personal, 
            modificable e intransferible para realizar transacciones dentro del sitio. <br>
            Los datos ingresados al registro son confidenciales e intransferibles. Así mismo, 
            toda eventualidad derivada del mal uso o error en el registro y su contraseña, 
            serán de exclusiva responsabilidad del usuario.
        </p>
        <p>
            El usuario se compromete a utilizar la página sólo para realizar compras, solicitar servicios y realizar 
            consultas y/o sugerencias que tengan que ver con ventas y la marca.
        </p>
    </div>
</div>




