
<!-- ------------------------------- -->
<!--    CONTENIDO FORM REGISTRO      -->
<!-- ------------------------------- -->

<div class="contenedor-perfil">
  <!-- CONTENEDOR IMAGEN -->
  <div class="fondo-img">
    <img src="../../../assets/imagenes/perfil.png" alt="perfil Imagen">
  </div>
  <!-- CONTENEDOR BOTONES OPCIONES -->
  <div class="contendio">
      <div class="contendido">
          <h2>OPCIONES</h2>
          <ul>
              <li><a [routerLink]="['/Error404Component']">Agregar Productos</a></li>
              <li><a [routerLink]="['/producto']">Productos</a></li>
              <li><a [routerLink]="['/carrito']">Carrito</a></li>
              <li><a [routerLink]="['/Error404Component']">Compras Realizadas</a></li>
              <!-- CERRAR SESION -->
              <li><a>Cerrar sesion</a></li>
          </ul>
      </div>
  </div>
</div>