<div class="contenedorError">
    <h2>Página No Encontrada</h2>
    <div class="error">
        <div class="alert404">
            <h3>
                4
                <span class="espacio">
                    <img src="../../../assets/imagenes/error.png" alt="Gato Redondo">
                </span>
                4
            </h3>
        </div>
    </div>
    <div class="mensaje-error">
        <p>No se ha encontrado la página que estás buscado</p>
        <p>Puede volver a comenzar desde la <span routerLink="/inicio">Página Principal</span></p>
        <p>Si necesita nuestra ayudar. <span routerLink="/contacto"> No dudes en Contáctarnos</span></p>
        <div class="botones">
            <button routerLink="/inicio">Página de Inicio</button>
            <button class="boton2" routerLink="/contacto">Contáctanos</button>
        </div>
    </div>
</div>ss