
/* ********************************** */
/*               HEADER               */
/* ********************************** */

.contenedor-cabeza-menu {
	width: 90%;
	margin: auto;
}

.cabeza-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* CONTENEDOR BUSCAR */

.contenedor-buscar {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.contenedor-buscar button{
	background-color: transparent;
    border: none;
	cursor: pointer;
}

/* CONTENEDOR LOGO */

.contenedor-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding-left: 100px;
}

.contenedor-logo img {
	position: relative;
	width: 300px;
	right: 30px;
}

/* CONTENEDOR REGISTRO Y CARRITO */

.contenedor-usuario {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.contenedor-usuario .carrito-contador {
	display: flex;
	flex-direction: column;
} 


/* ************************************ */
/*               MENU                   */
/* ************************************ */

/* DISEÑO GLOBAL MENU */

.contenedor-menu{
	position: block;
	top: 0;
	width: 90%;
	border-radius: 15px 15px 50px 50px;
	margin: auto;
	background: #9500F4;
	padding: 10px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.contenedor-menu .menu{
	display: flex;
  	gap: 10px;
	height: 30px;
}
 
.contenedor-menu .menu a{
	position: relative;
	text-decoration: none;
	padding: 12px 20px;
	color: #fff;
	letter-spacing: 0.1em;
	font-weight: 400;
}

/* DISEÑO HOVER MENU */

.contenedor-menu .menu a:hover{
	color: #000;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

/* DISEÑO PAGINA ACTIVA MENU */

.contenedor-menu .menu .activa{
	width: 100px;
	height: 17px;
	color: #000;
	background: #fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.contenedor-menu .menu .activa::before{
	content: '';
	position: absolute;
	bottom: 0px;
	left: -30px;
	width: 30px;
	height: 25px;
	background: transparent;
	border-bottom-right-radius: 20px;
	box-shadow: 5px 5px 0 5px #fff;
}

.contenedor-menu .menu .activa::after{
	content: '';
	position: absolute;
	bottom: 0px;
	right: -30px;
	width: 30px;
	height: 25px;
	background: transparent;
	border-bottom-left-radius: 20px;
	box-shadow: -5px 5px 0 5px #fff;
} 

/* ELIMINAR COMPONENTES ACTIVOS PARA USARLOS EN RESPONSIVE */

#menu-responsive,
#menu-icon-hamburguesa{ /* CHECKBOX Y MENU HAMBURGUESA */
	cursor: pointer;
	display: none;
}
.contenedor-menu .menu a mat-icon{ /* ICONOS OPCIONES MENU */
	display: none;
}
.contenedor-logo .logo-blanco{ /* IMAGEN RESONSIVE */
	display: none;
}


/* ************************************ */
/*           MENU RESPONSIVE            */
/* ************************************ */

/* DISEÑO EN 700 PIXELES CELULAR */

@media screen and (max-width: 700px) {

	/* SE ACTIVA ICONO HAMBURGUESA */

	#menu-icon-hamburguesa{
		display: inline;
		right: 20px;
		position: relative;
	}

	/* DISEÑO MENU RESPONSIVE */

	.contenedor-cabeza-menu {
		width: 100%;
		height: 70px;
		margin: auto;
		position: fixed;
		z-index: 2;
		background: #6433DB;
	}
	
	.cabeza-menu {
		display: flex;
		position: relative;
	}
	
	.contenedor-buscar {
		position: absolute;
		right: 140px;
		width: 30px;
	}
	
	.contenedor-logo {
		position: relative;
		left: -20px;
	}
	
	.contenedor-logo img {
		width: 190px;
		right: 70px;
	}

	.contenedor-logo .logo-negro{
		display: none;
	}

	.contenedor-logo .logo-blanco{
		display: inline;
	}
	
	.contenedor-usuario {
		position: absolute;
		right: 60px;
	}
	
	.contenedor-usuario .carrito-contador {
		display: none;

	} 
	.cabeza-menu mat-icon{
		font-size: 26px;
		color: #fff;
	}
	
	/* MENU RESPONSIVE CONTENEDORES */

	.contenedor-menu{
		top: -100%;
		position: fixed;
		width: 75%;
		height: 100vh;
		background: #6433DB;	
		transition: all .7s;	
	}
	
	.menu-abierto{
		top: 0;
	}
	
	.contenedor-menu .menu{
		display: grid;
		width: 100%;
		padding-top: -90px;
		margin: 0;
		height: 70vh;
	}
	 
	.contenedor-menu .menu a{
		margin: auto;
		width: 90%;
		padding: 12px 20px;
		margin: 0;
		text-align: left;
	}

	.contenedor-menu .menu a mat-icon{
		display: inline;
		position: relative;
		top: 10px;
		right: 10px;
		font-size: 30px;
	}
		
	.contenedor-menu .menu a:hover,
	.contenedor-menu .menu a:hover mat-icon
	{
		color: #000;
	}

	.contenedor-menu .menu .activa,
	.contenedor-menu .menu .activa mat-icon
	{
		width: 91%;
		height: 50px;
		color: #000;
		background: #fff;
		border-radius: 10px;
	}
	
	.contenedor-menu .menu .activa::before{
		display: none;
	}

	.contenedor-menu .menu .activa::after{
		display: none;
	} 
}

