<section class="producto-detalle">
    <div class="contenido" *ngIf="productoSeleccionado">
        
        <div class="contenedor-img">
            <img src="{{productoSeleccionado.imagen}}" alt="{{ productoSeleccionado.titulo }}">
        </div>
        <div class="contenedor-producto">
            <div class="categoria">
                <h2>Categoria {{productoSeleccionado.categoria}}</h2>
            </div>
            <div class="titulo">
                <h2><b>{{ productoSeleccionado.titulo }}</b></h2>
            </div>
            <div class="precio"> 
                <p><span>${{ productoSeleccionado.precio }}</span> IVA INCLUIDO</p>
                <p>Los <a [routerLink]="['/politica/terminos-envio']">gastos de envío </a>se calculan en la pantalla de pago.</p>
            </div> 
            <div class="valoracion">
                <br>
                <div class="estrella">
                    <mat-icon class="estrellaDorada">grade</mat-icon>
                    <mat-icon class="estrellaDorada">grade</mat-icon>
                    <mat-icon class="estrellaDorada">grade</mat-icon>
                    <mat-icon class="estrellaDorada">grade</mat-icon>
                    <mat-icon class="estrellaGris">grade</mat-icon>
                </div>
            </div>
            <div class="referencia">
                <p>Referencia del Producto: <span>{{productoSeleccionado.id}}</span></p>
            </div>
        
            <div class="cantidad">
                <div class="stock">
                    <p>Unidades Disponibles: <span>{{productoSeleccionado.stock}}</span></p>
                </div>
                <div class="tituloCantidad">
                    <p>Cantidad</p>
                </div>
                <div class="contador">
                    <button mat-button (click)="decrementarCantidad()" [disabled]="cantidad === 1 || !productoSeleccionado">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <input type="number" readonly  [(ngModel)]="cantidad" (ngModelChange)="validarCantidad()" min="1" />
                    <button mat-button (click)="incrementarCantidad()" [disabled]="!productoSeleccionado || cantidad >= productoSeleccionado.stock">
                        <mat-icon>add</mat-icon>
                    </button>
                </div> 
            </div>
            <div class="descripcion">
                <p> {{ productoSeleccionado.descripcion }}</p>
            </div>
            <div class="agregarCarrito">
                <a (click)="agregarAlCarrito()">Agregar al Carrito</a>
            </div>
        </div>   
    </div>
</section>
<h2 class="titulo-producto-opcion">También Podría <span>Gustarte</span></h2>
<section class="producto-opcion">
    <div class="contenido-opcion" *ngFor="let producto of productosRelacionadosCategotia">
        <div class="opcion-imagen">
            <img src="{{producto.imagen}}" alt="{{ producto.titulo }}">
            <div class="opciones"> 
                <button class="verDetalle" (click)="mostrarDetalle(producto)" routerLink="/producto-detalle">Ver Detalle</button><br>
                <button class="agregarCarrito" (click)="agregarAlCarritoProductoOpcion(producto, 1)">Agregar a Carrito</button>
              </div>
        </div>
        <div class="opcion-producto">
            <div class="opcion-categoria"> 
                <p>
                    {{producto.categoria}}
                </p>
            </div>
            <div class="opcion-titulo">
                <p>{{producto.titulo}}</p>
            </div>
            <div class="opcion-precio">
                <p>$ {{producto.precio}}</p>
            </div>
        </div>
      </div>
</section>