.producto-detalle{
    width: 85%;
    margin: auto;
    padding-top: 50px;
}
.producto-detalle .contenido{
    width: 100%;
    padding-left: 20px;  
    margin: auto;
    justify-content: center;
    align-content: center;  
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.producto-detalle .contenido .contenedor-img{
    width: 100%;
    background: #fff;
    background: rgba(255,255,255,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}
.producto-detalle .contenido .contenedor-img img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.producto-detalle .contenido .contenedor-producto{
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 20px;
}
.producto-detalle .contenido .contenedor-producto .categoria{
    color: #000;
    font-weight: 500;
}
.producto-detalle .contenido .contenedor-producto .titulo{
    font-weight: 1800;
    font-size: 34px;
    color: #6433DB;
}
.producto-detalle .contenido .contenedor-producto .precio{
    font-size: 17px;
    font-weight: 350;
}
.producto-detalle .contenido .contenedor-producto .precio span{
    color: #6433DB;
    font-weight: 450;
    font-size: 20px;
}
.producto-detalle .contenido .contenedor-producto .precio a{
    color: #6433DB;
    text-decoration: none;
    font-weight: 400;
}
.producto-detalle .contenido .contenedor-producto .valoracion .estrellaDorada{
    color: #9500f4;
    cursor: pointer;
}
.producto-detalle .contenido .contenedor-producto .valoracion .estrellaGris{
    color: #ccc;
    cursor: pointer;
}
.producto-detalle .contenido .contenedor-producto .cantidad{
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 17px;
    font-weight: 350;
}
.producto-detalle .contenido .contenedor-producto .cantidad span{
    padding-top: 20px;
    color: #6433DB;
    font-weight: 600;
}
.producto-detalle .contenido .contenedor-producto .cantidad .contador{
    display: flex;
    align-items: center;
}
.producto-detalle .contenido .contenedor-producto .cantidad .contador button{
    margin: 0 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.producto-detalle .contenido .contenedor-producto .cantidad .contador button:hover{
    background: #6433DB;
    color: #fff;
}

.producto-detalle .contenido .contenedor-producto .cantidad .contador input[type="number"] {
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    font-weight: 600;
}
.producto-detalle .contenido .contenedor-producto .descripcion{
    padding-top: 15px;
    line-height: 1.3em;
    font-weight: 250;
    font-size: 18px;
}
.producto-detalle .contenido .contenedor-producto .referencia{
    font-weight: 250;
    width: 70%;
    font-size: 17px;
}
.producto-detalle .contenido .contenedor-producto .referencia span{
    color: #6433DB;
}
.producto-detalle .contenido .contenedor-producto .agregarCarrito{
    color: #000;
    width: 200px;
    text-decoration: none;
    margin-bottom: 20px;
    background: #6433D8;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
    cursor: pointer;
}
.producto-detalle .contenido .contenedor-producto .agregarCarrito:hover{
    background: linear-gradient(15deg, #B95CE4, #4F29CC);
}

.titulo-producto-opcion{
    width: 70%;
    text-align: center;
    margin: auto;
    font-size: 27px;
    font-weight: 600;
    bottom: 0;
    padding-top: 70px;
}

.titulo-producto-opcion span{
    color: #4F29CC;
}

.producto-opcion{
    width: 85%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    top: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 5px;
}
.producto-opcion .contenido-opcion{
    width: 220px;
    height: 275px;
    padding: 20px;  
    margin: auto;
    justify-content: center;
    align-content: center;  
    background: #fff;
    background: rgba(255,255,255,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}
.producto-opcion .contenido-opcion .opcion-imagen{
    position: relative;
    width: 100%;
}
.producto-opcion .contenido-opcion .opcion-imagen img{
    position: absolute;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background: rgba(255,255,255,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 15px;
    background: #6533db79 ;
    backdrop-filter: blur(5px);
} 

.producto-opcion .contenido-opcion .opcion-imagen .opciones {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.producto-opcion .contenido-opcion .opcion-imagen .opciones button{
    display: none;
    cursor: pointer;
    width:200px;
}

.producto-opcion .contenido-opcion:hover .opcion-imagen .opciones button{
    display: block;
    position: relative;
    margin: auto;
    background: #6533db79 ;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    transition: 0.3s;
}


.producto-opcion .contenido-opcion .opcion-producto{
    width: 80%;
    position: absolute;
    bottom: 0;
    font-weight: 500;
    line-height: 0.5em;
    text-align: center;
}
.producto-opcion .contenido-opcion .opcion-producto .opcion-categoria{
    color: #4F29CC;
    font-weight: 600;
}

@media screen and (max-width: 700px){
    .producto-detalle .contenido{
        grid-template-columns: 1fr;
        padding-top: 100px;
    }
    .producto-detalle .contenido .contenedor-img{
        padding-top: 550px;
    }
    
}