<!-- ------------------------------- -->
<!--    CONTENIDO FORM REGISTRO      -->
<!-- ------------------------------- -->

<div class="contenedor-registro">

    <!-- IMAGEN -->
    <div class="fondo-img">
      <img src="../../../../assets/imagenes/registro.png" alt="Registro Imagen">
    </div>
  
    <!-- FORMULARIO -->
    <div class="formulario-contenido">
      <h1>Crear Cuenta</h1>
            
            <!-- ACCION A ENVIAR FORM -->
            <form>
  
              <!-- CAMPO USUARIO -->
              <div>
                <mat-form-field class="grupo-formulario" appearance="outline">
                    <mat-icon class="icon-form">person</mat-icon>
                    <mat-label>Nombre</mat-label>
                    <input matInput />
                    <p class="linea"></p>
                </mat-form-field>
              </div>
  
              <!-- CAMPO CORREO -->
              <div>
                <mat-form-field class="grupo-formulario" appearance="outline">
                    <mat-icon class="icon-form">mail_outline</mat-icon>
                    <mat-label>Correo</mat-label>
                    <input matInput />
                    <p class="linea"></p>
                </mat-form-field>
              </div>
        
              <!-- CAMPO CONTRASEÑA -->
              <div>
                <mat-form-field class="grupo-formulario" appearance="outline">
                    <mat-icon class="icon-form">vpn_key</mat-icon>
                    <mat-label>Contraseña</mat-label>
                    <input matInput />
                    <p class="linea"></p>
                    <a mat-icon-button matSuffix>
                        <mat-icon class="icon-mostrar-ocultar">visibility_off</mat-icon>
                    </a>
                </mat-form-field>
              </div>
              
              <!-- BOTON PARA ENVIAR FORMULARIO -->
              <div>
                <button mat-flat-button color="accent" type="submit">Registrarse</button>
              </div>
  
            </form>
  
            <hr />
    
            <!-- OPCION PARA REDIRIGAR A ACCESO -->
            <span class="msj-acceso">
              ¿Ya tienes una cuenta?<br>
              <a routerLink="/autenticacion/acceso">Iniciar Sesion</a>
            </span>
      </div>
  </div>
  