<div class="contenido-general">
    <h1>Política De Reembolso</h1>
    <div class="contenido">
        <article>
            <h2>GARANTÍA Y DEVOLUCIONES</h2>
            <p>
                Los productos vendidos a través de esta plataforma, cuentan 
                con garantía de un plazo de 15 días después de entregado el producto.
            </p>
            <p>
                El uso de la garantía, sólo podrá realizarse en caso de daño 
                de fábrica o si el producto enviado no corresponde al comprado.
            </p>
            <p>
            Debes enviarnos un mail a <span>CORREO EN CREACION</span> con tu número de pedido, 
            explicando el problema y adjuntando una foto para comprobar su fallo. Recibirás 
            una respuesta con los datos donde debes realizar el envío de vuelta. Por favor, 
            recuerda enviar el producto bien envuelto y protegido, además de las etiquetas necesarias. 
            Una vez llegue el producto de vuelta, se realizará la devolución del dinero. Es importante recalcar 
            que <b> no se harán devoluciones por el gasto de envío. La garantía corre sólo en caso de daño de 
            fábrica, o si el producto no es el que habías solicitado.</b><br>
            </p>
            <p>
                <b>En caso faltar algún producto de tu pedido</b>, te enviaremos el artículo 
                faltante y nosotras pagaremos el envío.
            </p>
        </article>
        <article>
                <h2>¿QUÉ OCURRE SI MI PEDIDO LLEGA DAÑADO?</h2>
                <p>
                    Si recibes el producto con algún daño, ponte en contacto conmigo en: <span>CORREO EN CREACION</span> 
                    antes de 15 días desde que recibes el artículo. Adjunta en tu email fotografías del producto en cuestión, 
                    para que pueda saber cuál ha sido el problema (y, si es a causa de la empresa de transporte, 
                    poder reclamarlo en <span>EN REVISION TRANSPORTADORA</span> ). No dudes que te daré una 
                    solución lo antes posible para devolverte el coste del artículo o enviarte un nuevo producto.
                </p>
        </article>
        <article>
            <h2>¿QUÉ OCURRE SI NO ME GUSTA EL PEDIDO QUE RECIBO? ¿PUEDO CAMBIARLO O DEVOLVERLO?</h2>
            <p>
                Por supuesto. Podrás solicitar un cambio o devolución de tu pedido en 
                los próximos 15 días desde que recibes el/los artículo/s. Para hacerlo, 
                ponte en contacto conmigo en: <span>CORREO EN CREACION</span>, explicando tu caso, 
                y estaré encantada de atenderte y ayudarte. Para ser elegible para una devolución, 
                su artículo debe estar sin usar y en la misma condición en que lo recibió. 
                Los únicos productos que no se podrán devolver en ningún caso, son los productos 
                personalizados y/o digitales. Los costos de envío para devolver un artículo corren 
                por su cuenta. Los costos de envío no son reembolsables. Según dónde viva, el tiempo 
                que tome recibir el cambio de su producto puede variar. <b>En aquellos casos en los que el 
                producto tenga algún daño</b>, yo misma me haré cargo del coste de la devolución del producto 
                o el envío de un nuevo artículo.
            </p>
        </article>
        <article>
            <h2>MODIFICACIONES Y RESPONSABILIDAD</h2>
            <p>
                La propietaria no se hace responsable en caso de una emergencia o motivo de 
                fuerza mayor que provoque cambios en las entregas. (Accidentes, huelgas, 
                errores de datos por parte del usuario, etc. )
            </p>
            <p>
                Los términos, condiciones y toda publicación en nuestra página se puede modificar en 
                cualquier momento, de acuerdo a lo que la propietaria estime conveniente. 
                Todo cambio o noticia se comunicará a través de las redes sociales:<br>
                Instagram - Facebook - Tik Tok
            </p>
        </article>
        <article>
            <p>
                GRACIAS POR TOMARSE EL TIEMPO DE LEER TODA 
                ESA JERGA LEGAL. ¡AHORA DISFRUTE NUESTRO CONTENIDO!
            </p>
        </article>
    </div>
</div>









