<div class="contenido-general">
    <h1>Términos del servicio</h1>
    <div class="contenido">
        <article>
            <p>
                En esta sección, se regulan los términos y condiciones 
                bajo los cuales usted tiene derecho a adquirir los productos 
                ofrecidos en la página web AIKO AUDIOVISUAL.
            </p>
            <p>
                Le recomiendo encarecidamente que lea esta sección antes de comprar 
                y guarde una copia, para futuras referencias, ya que este documento 
                será aplicado y se entenderá incorporado en cada compra que se haga 
                por medio de esta página web.
            </p>
            <p>
                El uso de este sitio, las compras hechas por medio de él y los términos 
                y condiciones aquí estipulados, se encuentran sujetos y sometidos a las 
                leyes de la República de Colombia
            </p>
        </article>

        <article>
            <h2>CAPACIDAD DE ACEPTAR LOS TÉRMINOS DEL SERVICIO</h2>
            <p>      
                Estos Términos del Servicio forman un contrato legalmente 
                vinculante entre usted y nosotros. Al usar nuestros Sitios, 
                usted afirma que es mayor de 18 años, menor emancipado o posee 
                el consentimiento legal de su padre o tutor, y está totalmente 
                capacitado y competente para celebrar los términos, condiciones, 
                obligaciones, declaraciones y responsabilidades establecidas en 
                estos Términos del Servicio y observar y cumplir dichos terminos 
                anteriormente mencionados.
            </p> 
        </article>
        <article>
            <h2>USUARIOS DE CUENTAS Y USUARIOS SIN CUENTAS</h2>
            <p>
                No necesita una cuenta para ver nuestros Sitios. 
                Sin embargo, si ya tiene una cuenta o si crea una, 
                tendrá acceso a más funcionalidades en nuestros Sitios
                <br>
                Si crea una cuenta, deberá aceptar un Acuerdo separado 
                de Términos del Servicio y Usuario, incluido el uso 
                que usted haga de nuestros Sitios.
            </p>
        </article> 
        <article>
            <h2>LA CONDUCTA EN NUESTROS SITIOS</h2>
            <p>
                Se espera que todos los usuarios se conduzcan de manera razonable 
                y con sentido común al utilizar nuestros Sitios. 
                Se prohíbe hacer un uso indebido de nuestras páginas,
                De igual manera, se prohíbe 
                la introducción de virus, gusanos, spyware, bombas de tiempo u
                otros programas informáticos potencialmente perjudiciales en 
                este. 
                Se prohíbe suministrar información falsa o imprecisa, incluida la presentación 
                de informes de reclamaciones falsas a los servicios al usuario.
                También se prohíben las conductas que quebrantan leyes locales, estatales o
                federales en relación con nuestra página.
            </p>
        </article>   
        <article>
            <h2>SORTEOS, CONCURSOS Y PROMOCIONES</h2>
            <p>
                Oportunamente, nuestros Sitios pueden contener información 
                acerca de sorteos, concursos o promociones que pueden regirse 
                por reglas separadas y que también pueden tener requisitos de 
                elegibilidad. Debe leer esas reglas para determinar si su participación, 
                registro o ingreso será válido y para determinar todos los demás requisitos de aplicación.
            </p>
        </article>
        <article>
            <h2>INFORMACIÓN SOBRE LA PÁGINA Y PRODUCTOS</h2>
            <p>
                En esta página se ofrecen a la venta diversos productos hechos con ilustraciones originales 
                de la propietaria, contando con productos de papelería, arte, incluso creaciones especiales 
                hechas para la plataforma de Instagram. TikTok, Facebook, entre otros.
            </p>
            <p>
                La venta de los productos quedan sujetos al stock disponible en el sitio web.<br>
                El catálogo de productos puede modificarse según la propietaria lo estime conveniente.
            </p>
        </article>
        <article>
            <h2>COMPRA EN EL SITIO</h2>
            <p>
                Se presentan dos modalidades de compra: Como usuario invitado o como usuario registrado. 
                Para realizar la compra, el usuario elige los productos deseados y debe agregarlos al
                “carrito de compra”. Una vez seleccionados, deberá hacer "click" en el ícono del carrito, 
                el que llevará al resumen de la compra, donde podrá corroborar y luego confirmar su compra,
                eligiendo el método de envío y pago.
            </p>
        </article>
        <article>
            <h2>MEDIOS DE PAGO</h2>
            <p>
                Se presenta un medio de pago, a través del sistema <span>EN REVISION.</span>  
                Sólo confirmado el pago, se comienza con el proceso de envío del o los productos. 
                Todo adjunto a sus políticas.
            </p>
        </article>
        <article>
            <h2>PRECIO</h2>
            <p>
                El precio de cada producto incluye el impuesto al valor agregado “IVA”, 
                no así el costo de envío según la zona de despacho.<br>
            
                Los precios y ofertas en la página web pueden ser modificados según la propietaria 
                lo estime conveniente, siempre de acuerdo a la normativa Colombiana.
            </p>
        </article>
        <article>
            <hr>
            <br>
            <p>
                El uso de la web implica la aceptación y 
                cumplimiento de los términos y condiciones.
            </p>
            <p>
                GRACIAS POR TOMARSE EL TIEMPO DE LEER TODA 
                ESA JERGA LEGAL. ¡AHORA DISFRUTE NUESTRO CONTENIDO!
            </p>
        </article>
    </div>
</div>
