<div class="pagInicio">
    <div class="contenido">
        
        <div class="texto">
            <h1>ILUSTRADORA FREELANCE</h1>
            <p>
                Tras algunos años de tropezones y maravillosas experiencias,
                decidí dedicarme al ámbito de la ilustración y la escritura de
                forma independiente.
            </p>
            <p>
                Si tienes un proyecto y buscas un profesional que te ayude a crear o impulsar tu imagen de marca, 
                a través de encargos de diseños e ilustraciones, has llegado al lugar indicado. 
                Contáctame sin compromiso aquí. Me encanta conocer nuevos emprendedores y asesorarles en mi campo. 
                Hablaremos y te daré un presupuesto adaptado a tus necesidades; sin compromiso.
            </p>
            <p>
                Me gusta la ilustración porque te da la oportunidad de llevar
                a los demás a conocer mundos extraordinarios y hacerles ver
                el mundo como tú lo ves.
            </p>
            <p>
                Te invito a mirar mi portafolio y si tienes algún universo que yo
                te pueda ayudar a crear, no dudes en contactarme.
            </p>
        </div>
        <div>
            <img src="../../../assets/imagenes/inicio.png" alt="SobreMi">
        </div>
    </div>
    <div class="botonContacto">
        <a [routerLink]="['/contacto']">Contactarme</a>
    </div>
</div>